@tailwind base;
@tailwind components;
@tailwind utilities;

/* Foundation */
html {
  @apply font-sans;

  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

svg {
  @apply inline-block;
}

img {
  @apply object-cover object-center;
}

.clickable {
  @apply transition-opacity duration-200 cursor-pointer;

  &:active {
    @apply transition-none;

    opacity: 0.6 !important;
  }
}

.center {
  width: 970px;
  margin: 0 auto;
}

/* Animations */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}
.page-enter-from {
  @apply opacity-0;

  transform: scale(0.96);
  filter: blur(0.2rem);
}

.page-leave-to {
  @apply opacity-0;

  transform: scale(1.08);
  filter: blur(0.2rem);
}

strong {
  @apply font-black;
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.98);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 980px) {
  .center {
    @apply w-auto mx-5;
  }
}
